.header {
    width: 100%;
    //background: var(--container-color);
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
		&__logo {
            text-transform: lowercase;
            font-weight: var(--font-bold);
            letter-spacing: 1px;
            display: inline-flex;
            align-items: center;
            column-gap: .25rem;
        }
		&__logo-icon {
            font-size: 1.25rem;
        }
		&__menu {}
		&__list {
            display: flex;
            align-items: center;
            column-gap: 2rem;
        }
		&__item {}
		&__link {
            color: var(--title-color);
            font-weight: var(--font-medium);
            font-size: var(--normal-font-size);
            transition: color 0.3s;
            &:hover {
                color: var(--first-color);
            }
        }
        .active-link {
            position: relative;
            &::before{
                content:'';
                position: absolute;
                bottom: -.75rem;
                left: 45%;
                width: 5px;
                height: 5px;
                background: var(--title-color);
                border-radius: 50%;
            }
        }
        &__close {
            font-size: 2rem;
            position: absolute;
            top: 0.9rem;
            right: 1.25rem;
            cursor: pointer;
        }
		&__btns {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            margin-left: auto;
        }
        .nav__toggle,
        .login__toggle,
        .nav__shop {
            font-size: 1.25rem;
            cursor: pointer;
        }
		&__shop {}
        &__close,
		&__toggle {
            display: none;
        }
}
.nav__close,
.login__toggle,
.nav__logo,
.nav__toggle,
.nav__shop {
    color: var(--title-color);
}
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 1px 4px var(--shadow);
    transition: all 0.3s ease-in-out 0s;
}